<p>Hello <%= @user.first_name %>,</p>
<p>You got an sighting to your missing pet <%= @pet.name %></p>
<%= link_to 'Click here to view the sighting of your pet', sighting_url(@sighting) %>
<p>Regards,</p>
<p>Find My Pet Team</p>
