
<div class="row">
  <div class="container">


<h1 class="text-center">All Sightings <i class="fa fa-chevron-down" aria-hidden="true"></i> </br></h1>

<div id ='sightings-map' style='width: 800px;'>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map" style='width: 90vw; height: 400px;margin-bottom:30px'></div>

</div>

</div>
