<p>Hello <%= @user.first_name %>,</p>
<p>You got a message about your missing pet <%= @pet.name %>:</p>
<p><%= @message.body %></p>
<%#= link_to 'Click here to view all the message for you', pet_url(@pet) %>
<p>Regards,</p>
<p>Find My Pet Team</p>
