
<div class="sub-header blue">
  <div class="container">
    <h1>Lost Your pet? </h1>
    <p> Don't worry we will help you to find it!</p>
  </div>
</div>

<div class="container">

  <!-- <h1>New Pet</h1> -->


  <%= render 'form', {btn_label: 'Submit'} %>

</div>
