<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/home-banner.jpg">
    <div class="main-hero">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <a href="#seeme" class="panel">
              <h2><strong>Spotted </strong>a Pet?</h2>
              <img src="/assets/panel-image-1.png" alt="" />
            </a>
          </div>
          <div class="col-md-5">
            <% if user_signed_in? %>
              <a href="<%= new_pet_path %>" class="panel lostpet">
            <% else %>
              <a data-toggle="modal" data-target="#SignIn" class="panel lostpet">
            <% end %>
              <h2><strong>Lost </strong>a Pet?</h2>
              <%= image_tag image_path('panel-image-2.png') %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-5 text-center">
          <h5><i class="fa fa-location-arrow" aria-hidden="true"></i>  39 missing pets in your area</h5>
        </div>
        <div class="col-md-3 text-center">
          <h5><i class="fa fa-heart pink" aria-hidden="true"></i>  32,002 reconnected pets</h5>
        </div>
        <div class="col-md-3 text-center social">
          <a href="#">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="seeme">
  <div class="col-md-6">
    <div class="panel panel-default list_panel main-painel">
      <h3 class="text-center" > Have you seen me ?</h3>
      <div id="recent-pet-list">
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
</div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/home-banner2.jpg">
  <div class="container">
    <div class="banner2">
      <div class="col-md-6">
        <h3>We understand the trauma of losing a pet</h3>
        <p>We are here to help!  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/sign_in' %>
