// Colors
// $gray-base: #babbbc;
$brand-success: #0c3769;
$brand-info: #30b5f1;
$brand-warning:#c58c09;
$brand-danger: #f93296;

// Scaffolding
$body-bg: #fff;

// Buttons
$btn-default-color: #333;
$btn-default-bg: #fff;
$btn-default-border:#ccc;
$btn-primary-color: #f93296;


// Dropdowns
$dropdown-bg:#c8c9c9;
$dropdown-divider-bg: #c8def4;
$dropdown-link-hover-bg: #f5f5f5;

// Navbar
$navbar-default-color: #f8f8f8;
$navbar-default-bg: #0c3769;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #e9e9e9;
$navbar-default-link-active-color: #777;

// Popovers
$popover-bg: #babbbc;

// Modals
$modal-content-bg: #babbbc;
