<footer>
  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-md-4">
        <p class="footer-copyright">
          Copyright &copy; <a href="https://www.codecore.ca">Codecore Team</a> by <a href="https://github.com/CodeCoreYVR/find_my_pet">Team</a>
        </p>
      </div>

      <div class="col-xs-6 col-md-4 pull-right">
        <ul class="footer-social-links pull-right">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Facebook", sign_in_with_facebook_path %></li>
          <li><%= link_to "Twitter", sign_in_with_twitter_path %></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
